body {
  background: #F0F0F0;
  color: #014E66;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-variant; normal;
  font-weight: lighter;
  line-height; auto;
}

h1 {
  font-family: 'Prata';
  font-size: 48px;
  font-style: normal;
  font-variant; normal;
  font-weight: normal;
  line-height; auto;
  text-align: center;
}

h2 {
  font-size: 36px;
  text-align: center;
}

p {
  font-family: "Open Sans"
  font-size: 20px;
  text-align: center;
}

.container {
  max-width: 1440px;
  margin: auto;
  align: center;
}

#header {
  background: #FFFFFF;
  padding: 5px;
  position: relative;
  height: 60px;
}

#header .logo {
  position: absolute;
  left: 5px;
}

#header .nav {
  position: absolute;
  right: 5px;
  padding: 20px 0;
}

#headline .wrapper {
  background-image: url(assets/cyclists_overlay.png);
  color: #FFFFFF;
  margin: auto;
  padding: 10%;
}

#headline .wrapper p {
  margin:35px;
}

.btn {
  align-self: center;
  display: block;
  margin: auto;
  background: #FCBE32;
  color: #443511;
  font-family: 'Prata';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height; auto;
  max-width: 345px;
  padding: 10;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  box-shadow: 0px;
}

#headline .btn {
  font-variant: inherit;
}

#benefits {
  background: #F0F0F0;
}

#testimonials {
  background: white;
  position: relative;
  font-size: 30px;
  text-align: center;
  padding: 40px;
}

#testimonials .arrow_left {
  font-size: 100px;
  position: absolute;
  left: 156px;
  top: 195px;
}

#testimonials .arrow_right {
  font-size: 100px;
  position: absolute;
  right: 156px;
  top: 195px;
}

#testimonials .testimonial .image {
  display: inline-block;
  width: 30%
}

#testimonials .testimonial .image .persona {
  margin-top: 30px;
  width: 185px;
  height: 185px;
  background-color: grey;
  background-image: url(assets/persona1.jpeg);
  background-size: cover;
  border-radius: 50%;
  background-position: top 50%;
  display: inline-block;
  max-width: 185px;
}

#testimonials .testimonial .testimony {
  display: inline-block;
  width: 50%
}

#testimonials .testimonial .testimony p {
  font-size: 30px;
  max-width: 785px;
  padding: 0px 120px 0px 0px;
}

#newsletter {
  background: #F0F0F0;
}

#footer {
  background: #004E66;
}
